@mixin flex() {
  .flexbox & {
    display: flex;
    -webkit-display: flex;
  }
  .no-flexbox & {
    display: -moz-box;
    display: -webkit-box;
    display: box;
  }
}

@mixin flex-direction($value: row) {
  @if $value == column {
    .flexbox & {
      flex-direction: column;
      -webkit-flex-direction: column;
    }
    .no-flexbox & {
      -moz-box-direction: normal;
      -webkit-box-direction: normal;
      box-direction: normal;
      -moz-box-orient: vertical;
      -webkit-box-orient: vertical;
      box-orient: vertical;
    }
  }
  @else if $value == row-reverse {
    .flexbox & {
      flex-direction: row-reverse;
      -webkit-flex-direction: row-reverse;
    }
    .no-flexbox & {
      -moz-box-direction: reverse;
      -webkit-box-direction: reverse;
      box-direction: reverse;
      -moz-box-orient: horizontal;
      -webkit-box-orient: horizontal;
      box-orient: horizontal;
    }
  }
  @else if $value == column-reverse {
    .flexbox & {
      flex-direction: column-reverse;
      -webkit-flex-direction: column-reverse;
    }
    .no-flexbox & {
      -moz-box-direction: reverse;
      -webkit-box-direction: reverse;
      box-direction: reverse;
      -moz-box-orient: vertical;
      -webkit-box-orient: vertical;
      box-orient: vertical;
    }
  }
  @else {
    .flexbox & {
      flex-direction: row;
      -webkit-flex-direction: row;
    }
    .no-flexbox & {
      -moz-box-direction: normal;
      -webkit-box-direction: normal;
      box-direction: normal;
      -moz-box-orient: horizontal;
      -webkit-box-orient: horizontal;
      box-orient: horizontal;
    }
  }
}


@mixin order($int: 0) {
  .flexbox & {
    order: $int;
    -webkit-order: $int;
  }
  .no-flexbox & {
    -moz-box-ordinal-group: $int + 1;
    -webkit-box-ordinal-group: $int + 1;
    box-ordinal-group: $int + 1;
  }
}


@mixin flex-grow($int: 0) {
  .flexbox & {
  -webkit-flex-grow: $int;
  flex-grow: $int;
  }
  .no-flexbox & {
	box-flex: $int;
  }
}

@mixin justify-content($value: flex-start) {
  .flexbox & {
    justify-content: $value;
    -webkit-justify-content: $value;
  }
  .no-flexbox & {
    @if $value == flex-start {
      -webkit-box-pack: start;
      flex-pack: start;
      box-pack: start;
    }
    @else if $value == flex-end {
      -webkit-box-pack: end;
      flex-pack: end;
      box-pack: end;
    }
    @else if $value == space-between {
      -webkit-box-pack: justify;
      flex-pack: justify;
      box-pack: justify;
    }
    @else if $value == space-around {
      -webkit-box-pack: justify;
      flex-pack: distribute;
      box-pack: justify;
    }
    @else {
      -webkit-box-pack: $value;
      flex-pack: $value;
      box-pack: $value;
    }
  }
}

@mixin align-items($value: stretch) {
  .flexbox & {
  align-items: $value;
  -webkit-align-items: $value;
  }
  .no-flexbox & {
  @if $value == flex-start {
    -webkit-box-align: start;
    -ms-flex-align: start;
    box-align: start;
  }
  @else if $value == flex-end {
    -webkit-box-align: end;
    -ms-flex-align: end;
    box-align: end;
  }
  @else {
    -webkit-box-align: $value;
    -ms-flex-align: $value;
    box-align: $value;
  }
  }
}

@mixin flex-basis($value: auto) {
  -webkit-flex-basis: $value;
  -moz-flex-basis: $value;
  -ms-flex-preferred-size: $value;
  flex-basis: $value;
  .no-flexbox {width: $value;} // questionable option
}

// ribotai veikia


@mixin align-self($value: auto) {
  @if $value == flex-start {
    -ms-flex-item-align: start;
  }
  @else if $value == flex-end {
    -ms-flex-item-align: end;
  }
  @else {
    -ms-flex-item-align: $value;
  }
  -webkit-align-self: $value;
  align-self: $value;
}

// neveikia ant BOX modelio:(

@mixin inline-flex {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -moz-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

@mixin flex-wrap($value: nowrap) {
  -webkit-flex-wrap: $value;
  -moz-flex-wrap: $value;
  flex-wrap: $value;
  @if $value == nowrap {
    -ms-flex-wrap: none;
  }
  @else {
    -ms-flex-wrap: $value;
  }
}

@mixin flex-shrink($int: 1) {
  -webkit-flex-shrink: $int;
  -moz-flex-shrink: $int;
  -ms-flex-negative: $int;
  flex-shrink: $int;
}

@mixin align-content($value: stretch) {
  // No Webkit Box Fallback.
  -webkit-align-content: $value;
  -moz-align-content: $value;
  @if $value == flex-start {
    -ms-flex-line-pack: start;
  }
  @else if $value == flex-end {
    -ms-flex-line-pack: end;
  }
  @else {
    -ms-flex-line-pack: $value;
  }
  align-content: $value;
}
